<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.jieshuquan" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".JieShuQuanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.JFQ" >
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            // 声明为 spring board的入口点
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JFQ.Login" />
        <activity
            android:name=".activity.ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBookToLibraryActivity"
            android:label="@string/title_activity_add_book_to_library"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoreActivity"
            android:label="@string/title_activity_more"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineBookActivity"
            android:label="@string/title_activity_mine_books"
            android:screenOrientation="portrait" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name=".CustomReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avos.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SendTwitterActivity"
            android:label="@string/title_activity_send_twitter"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PopularActivity"
            android:label="@string/title_activity_popular"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:label="@string/title_activity_modify_password"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ModifyNicknameActivity"
            android:label="@string/title_activity_modify_nickname"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
