<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.jieshuquan_android" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".JieShuQuanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.JFQ" >
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/app_name" >
            // 声明为 spring board的入口点
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.JFQ.Login" />
        <activity
            android:name=".activity.main.add.ScannerActivity"
            android:label="@string/title_activity_scanner" />
        <activity
            android:name=".activity.main.add.AddBookToLibraryActivity"
            android:label="@string/title_activity_add_book_to_library" />
        <activity
            android:name=".activity.main.mine.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.main.mine.MineBookActivity"
            android:label="@string/title_activity_mine_books" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name=".CustomReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avos.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.main.SendTwitterActivity"
            android:label="@string/title_activity_send_twitter"
            android:parentActivityName=".activity.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.jieshuquan_android.activity.main.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
    </application>

</manifest>
